---
layout: default
permalink: /tags/
---

<div style="text-align: center;"><input type="text" id="search" style="width: 70%;margin-bottom: 10px;"></div>
<div class="site-tags">
  {% assign sorted_tags = (site.tags | sort:0) %}
  {% for tag in sorted_tags %}
  <li id="{{ tag[0] }}" class="site-tag">
    <a href="#" style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
      <!-- tag name -->
      <span>{{ tag[0] }}</span>
      <!-- tag count -->
      <span class="count">{{ tag | last | size }}</span>
    </a>
  </li>
  {% endfor %}
</div>

<div class="site-tagged-posts">
  {% assign prefix = "post-tag-" %}
  {% for post in site.posts %}

    {% assign classValue = "" %}
    {% for postTag in post.tags %}
      {% assign classValue = classValue | append: " " | append: prefix | append: postTag %}
    {% endfor %}

    <li style="display:none;" class="{{ classValue }}">
      <span>
        {{ post.date | date: "%Y-%m-%d" }}
      </span>
      »
      <a href="{{ post.url }}" title="{{ post.title }}">
        {{ post.title }}
      </a>
    </li>
  {% endfor %}
</div>

<script>
const prefix = '{{ prefix }}';
const DELAY_DEBOUNCE = 300;
const DELAY_FADE_IN_OUT = 100;

let debounceTimer = null;
let debounce = function(callback, delay) {
  if(debounceTimer) {
    clearTimeout(debounceTimer)
  }
  debounceTimer = setTimeout(callback, delay);
}

let searchEventHandler = function(e) {
  let searchText = $('#search').val();//e.target.value;
  logger.log('search text', searchText);
  if(searchText == null || searchText == undefined || searchText.length <= 0) return;
  let taggedPosts = $('.site-tagged-posts > li');
  for(taggedPost of taggedPosts) {
      let taggedPostClass = $(taggedPost).attr('class');
      let searchTextIndex = taggedPostClass.indexOf(searchText);
      logger.log('tagged post class -> ' + taggedPostClass + ', search text index' + searchTextIndex);
      if(searchTextIndex != -1) {
          $(taggedPost).fadeIn(DELAY_FADE_IN_OUT);
      } else {
          $(taggedPost).fadeOut(DELAY_FADE_IN_OUT);
      }
  }
}


$('#search').keyup(() => debounce(searchEventHandler, 300));

$('.site-tag').click(function() {
  $('.site-tagged-posts > li').hide();
  let tag = $(this).attr('id');
  $('.' + prefix + tag).fadeIn(DELAY_FADE_IN_OUT);
});

//access from post tag, auto show tag
let paramId = window.location.hash.replace('#', '');
if(paramId != null && paramId.length > 0) {
  $('#' + paramId).click();
}
</script>
