---
layout: default
permalink: /tags/
---
<script src="/assets/js/jquery-3.4.1.min.js"></script>

<div class="site-tags">
  {% for tag in site.tags | sort %}
  <li id="{{ tag[0] }}" class="site-tag">
    <a href="#" style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
      <!-- tag name -->
      <span>{{ tag[0] }}</span>
      <!-- tag count -->
      <span class="count">{{ tag | last | size }}</span>
    </a>
  </li>
  {% endfor %}
</div>

<div class="site-tagged-posts">
  {% assign prefix = "post-tag-" %}
  {% for post in site.posts %}

    {% assign classValue = "" %}
    {% for postTag in post.tags %}
      {% assign classValue = classValue | append: " " | append: prefix | append: postTag %}
    {% endfor %}

    <li style="display:none;" class="{{ classValue }}">
      <span>
        {{ post.date | date: "%Y-%m-%d" }}
      </span>
      »
      <a href="{{ post.url }}" title="{{ post.title }}">
        {{ post.title }}
      </a>
    </li>
  {% endfor %}
</div>

<script>
  $(document).ready(function(){
    $('.site-tag').click(function(){
      $('.site-tagged-posts > li').hide();
      var prefix = '{{ prefix }}';
      var delay = 100;
      var tag = $(this).attr('id');
      $('.' + prefix + tag).fadeIn(delay);
    });

    var paramId = window.location.hash.replace('#', '');
    if(paramId != null && paramId.length > 0) {
      $('#' + paramId).click();
    }
  });
</script>
