
//
// VARIABLES
//

// Color stacks
$black: #000;
$white: #fff;
$blue: #4183C4;

$gray-light: #eee;
$gray: #666;
$gray-dark: #555;
$gray-darker: #222;

$gitbook-gray: rgb(116, 129, 141);
$gitbook-light-gray: rgb(230, 236, 241);


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$d2coding: D2Coding, 'D2 coding', monosapce;
$georgia: Georgia, serif;
$gitbook: "Content-font", Roboto, sans-serif;
$spoqa-han-sans:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
$spoqa-han-sans-path: '/SpoqaHanSans-subset';
$noto-sans-kr:'Noto Sans KR';
$noto-sans-kr-path: '/Noto_Sans_KR';

$base-font: $noto-sans-kr;
$base-font-path: '/assets/fonts' + $noto-sans-kr-path;
$base-font-size: 18px;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
