<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/log">log</a></li>
        </ul>
    </nav>
    <div class="container">	
        {{ content }}
    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:herdin86@gmail.com">email</a></li>
            <li><a href="https://github.com/herdin">github.com/herdin</a></li>
        </ul>
    </footer>
</body>
</html>
