<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include navigation.html %}
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    <script type="text/javascript">
  	// When the user scrolls down 20px from the top of the document, show the button
  	window.onscroll = function() {scrollFunction()};

  	function scrollFunction() {
      //Get the button:
      let mybutton = document.getElementById("scrollToTop");
  	  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
  	    mybutton.style.display = "block";
  	  } else {
  	    mybutton.style.display = "none";
  	  }
  	}

  	// When the user clicks on the button, scroll to the top of the document
  	function topFunction() {
  	  document.body.scrollTop = 0; // For Safari
  	  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  	}
  	</script>
    <button onclick="topFunction()" id="scrollToTop" title="Go to top">Top</button>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
