---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="posthead">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>
    {% assign tags = page.tags | sort %}
    <span class="site-tags">
      {% for tag in tags %}
      <li class="site-tag">
        <a href="/tags/#{{ tag }}">
          <!-- tag name -->
          <span>{{ tag }}</span>
        </a>
      </li>
      {% endfor %}
    </span>
  </div>
  {% include adsense.html %}
  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
